<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="LightInject" version="3.0.1.7" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.2.0.0" targetFramework="net40" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net40" />
  <package id="xunit.should" version="1.1" targetFramework="net40" />
</packages>